RewriteEngine On

RewriteRule ^/?$ index.php [QSA,L]
RewriteRule ^home/?$ home.php [QSA,L]

RewriteCond %{REQUEST_URI}  ^/shop\.php$
RewriteCond %{QUERY_STRING} ^type=([A-Za-z\+]*)$
RewriteRule ^(.*)$ http://sphotonkhan/E-Commerce2/shop/%1 [QSA,L]

RewriteRule ^browse/([A-Za-z\+]+)/([A-Za-z\+]+)/([0-9]+)?$ browse.php?type=$1&category=$2&id=$3 [QSA,L]

RewriteRule ^sales/?$ sales.php [QSA,L]

RewriteRule ^wishlist/?$ wishlist.php [QSA,L]
RewriteRule ^wishlist/([A-Za-z0-9\+]+)/([A-Za-z0-9\+]+)?$  wishlist.php?sku=$1&action=$2 [QSA,L]
RewriteRule ^wishlist/([A-Za-z0-9\+]+)/([A-Za-z0-9\+]+)/([0-9]+)?$  wishlist.php?sku=$1&action=$2&qty=$3 [QSA,L]

RewriteRule ^cart/?$  cart.php [QSA,L]
RewriteRule ^cart/([A-Za-z0-9\+]+)/([A-Za-z0-9\+]+)?$  cart.php?sku=$1&action=$2 [QSA,L]
RewriteRule ^cart/([A-Za-z0-9\+]+)/([A-Za-z0-9\+]+)/([0-9]+)?$  cart.php?sku=$1&action=$2&qty=$3 [QSA,L]

RewriteRule ^checkout/?$  checkout.php [QSA,L]
RewriteRule ^checkout/([A-Za-z0-9\+]+)?$  checkout.php?session=$1 [QSA,L]

RewriteRule ^billing/?$  billing.php [QSA,L]

RewriteRule ^mail/?$  mail.php [QSA,L]
RewriteRule ^map/?$  map.php [QSA,L]

#RewriteEngine On
#RewriteCond %{REQUEST_URI}  ^/page\.php$
#RewriteCond %{QUERY_STRING} ^id=([0-9]*)$
#RewriteRule ^(.*)$ http://example.site/page/%1.pdf [R=302,L]