@font-face {
  font-family: 'Ubuntu';
  font-weight: 400;
  font-style: normal;
  src: url('Ubuntu-regular.eot');
  src: url('Ubuntu-regular.eot?#iefix') format('embedded-opentype'),
       local('Ubuntu'),
       local('Ubuntu-regular'),
       url('Ubuntu-regular.woff2') format('woff2'),
       url('Ubuntu-regular.woff') format('woff'),
       url('Ubuntu-regular.ttf') format('truetype'),
       url('Ubuntu-regular.svg#Ubuntu') format('svg');
}

